<link href="results.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<div class="container">
    <img src="santa.png" />
    <p>Pour ce Noël 2020 tu devrais faire un cadeau à :</p>
    <span class="name"> <%= name %></span>
</div>
